<h1>Edit User</h1>
 
<%= form_with(model: @user, local: true, url: { :controller => 'admin', :action => 'update' }) do |form| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>}
      </ul>
    </div>
  <% end %>
 <p>
  <%= form.label :ID%><br>
  <%= form.text_field :id%><br>
  <%= form.label :FULL_NAME%><br>
  <%= form.text_field :full_name%><br>
  <%= form.label :USERNAME%><br>
  <%= form.text_field :username%><br>
  <%= form.label :EMAIL_ID%><br>
  <%= form.text_field :email_id%><br>
  <%= form.label :Contact_number%><br>
  <%= form.text_field :phone_number%><br>
  <%= form.label :parent_id%><br>
  <%= form.text_field :parent_id%><br>
  <%= form.label :User_category%><br>
  <%= form.select :user_category, ['buyer','seller','broker']%><br>
    <%= form.label :User_status%><br>
  <%= form.select :user_status, ['inactive','active']%><br>
  <%= form.submit %>
</p>
<%end%>
 
<%= link_to 'Back', admin_searching_path%>