
  <strong>Full name:</strong>
  <%= current_user.full_name %>
</p>
 
<p>
  <strong>Username:</strong>
  <%= current_user.username %>
</p>
 
<p>
  <strong>Email id:</strong>
  <%= current_user.email_id %>
</p>
 
<p>
  <strong>Phone_number:</strong>
  <%= current_user.phone_number %>
</p>
<p>
  <strong>User category:</strong>
  <%= current_user.user_category %>
</p>
<p>
  <strong>User category:</strong>
  <%= current_user.created_at %>
</p>
<p>
  <strong>User category:</strong>
  <%= current_user.updated_at %>
</p>
 
 

<%= link_to 'edit', edit_user_path(current_user) %>
<%= link_to 'Logout', sessions_destroy_path, method: :delete%>